<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor-Counter</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
    ">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    

<div class="jumbotron" style="margin-top:15%; margin-left:5%; margin-right:5%;">
<div class="row w-100">
        {% for p in person %}
        <div class="col-md-6">
            <div class="card border-success mx-sm-1 p-5">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Visitors In</h4></div>
                <div class="text-success text-center mt-2" id = "visitor_in" ><h1>{{p.visitors_in}}</h1></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-info mx-sm-1 p-5">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Visitors Out</h4></div>
                <div class="text-info text-center mt-2" id = "visitor_out"><h1>{{p.visitors_out}}</h1></div>
            </div>
        </div>
        {% endfor %}

        <!-- <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Hearts</h4></div>
                <div class="text-danger text-center mt-2"><h1>346</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-3"><h4>Inbox</h4></div>
                <div class="text-warning text-center mt-2"><h1>346</h1></div>
            </div>
        </div> -->
     </div>
</div>
{% for p in person %}

        <!-- <div class="jumbotron" style="margin-top:15%; margin-left:5%; margin-right:5%;"> -->
            <div class="row w-80" style="margin-left:4%; margin-right:5%;">
                <div class="col-md-6">
                    <div class="card border-info mx-sm-1 p-5">
                        <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                        <div class="text-info text-center mt-3"><h4>Temperature</h4></div>
                        <div class="text-info text-center mt-2" id = "temperature"><h1>{{p.temperature}}</h1></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
<a class = "btn btn-dark" href="{% url 'base_app:reset'%}" style="margin-left:90%; margin-bottom: 5px; margin-top:0;">Reset</a>
<a class = "btn btn-dark" href="admin/" style="margin-left:90%;">Admin</a>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    const $visitor_in = $('#visitor_in');
    const $visitor_out = $('#visitor_out');
    const $temperature = $('#temperature');

    var interval = setInterval(async function() {
    const res_in = await fetch('https://arsh0023.pythonanywhere.com/api/getvisitorin/123/',{ mode: 'no-cors'});
    const json_in = await res_in.json();
    const res_out = await fetch('https://arsh0023.pythonanywhere.com/api/getvisitorout/123/',{ mode: 'no-cors'});
    const json_out = await res_out.json();
    let temp_old = await fetch('https://arsh0023.pythonanywhere.com/api/gettemp/123/',{ mode: 'no-cors'});
    temp_old = temp_old.json();
    function random_temp(temp)
    {
         temp += Math.random()*2 - 1;
         return temp.toFixed(1);
    }

    console.log('Hellow!')
    console.log(json_out);
    console.log(json_in);
    $visitor_in.html(json_in);
    $visitor_out.html(json_out);
    $temperature.html(temp_old);
    }, 1000);
</script>
<!-- <script>
    setInterval(function() {
        $.ajax({
            type: "GET",
            url: 'https://arsh0023.pythonanywhere.com/api/getvisitorin/123/',  // URL to your view that serves new info
        })
        .done(function(response) {
            console.log(response);
            $('#').append(response);
            append_increment += 10;
        });
    }, 1000)
</script> -->
</html>